{% extends "base.html" %}
{% load bootstrap3 %}

{% block content-main %}
<div class="panel panel-default">
    <div class="panel-heading">Edit "{{ post }}"</div>
    <div class="panel-body">
      <form action="{% url "post_update" post.id %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "star" %} Save
      </button>
      {% endbuttons %}
      </form>
    </div>
</div>
{% endblock %}
